header {
  text-align: center;
  color: white;
  background-position: center;
  background-size: cover;
  height: 300px;
}
h1 {
  font-family: 'Merriweather', serif;
  font-size: 70px;
  color: white;
  position: relative;
  top: 100px
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}
