<!--
A{text-decoration:none}
-->
header{
  background: url(http://i.imgur.com/OA4ReJD.jpg);
  background-position: center left;
  background-size: cover;
  height: 300px
 }    
 h1{
   Font-size:70px;
   color: white;
   text-align: center;
   margin:60px 0 0 0;
 }

a {
  color: white;
}

ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Merriweather', serif;
  margin-top: 172px;
  }

li {
  display: inline;
  padding: 0px 10px 0px 10px; 
}
li a:hover{
  background-colour:#111;
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

