<!--
A{text-decoration:none}
-->
header{
  text-align: center;
  background: url(http://i.imgur.com/OA4ReJD.jpg);
  color: white;
  background-position: center left;
  background-size: cover;
  height: 300px
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
 }    


a {
  color: white;
}

ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Merriweather', serif;
  margin-top: 172px;
  }

li {
  display: inline;
  padding: 0px 10px 0px 10px; 
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

