header {
  text-align: center;
  color: white;
  background-size:cover;
  height: 300px;
}
.travel{
  background-image:url("http://i.imgur.com/uN9vFLe.jpg");
}
.food{
  background-image:url("http://i.imgur.com/GGXbBCv.jpg");
}
.artandculture{
  background-image:url("http://i.imgur.com/OPrUyGI.jpg");
}
.fashion{
  background-image: url("http://i.imgur.com/wrnCzzF.jpg");
}
.manifesto{
  background:black;
}
.contactus{
  background:black;
}
h1 {
  font-family: 'Merriweather', serif;
  font-size: 70px;
   position: relative;
  color: white;
  top: 100px
}
a {
  color: white;
}
ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Merriweather', serif;
  margin-top: 172px
}

li {
  display: inline;
  padding: 0px 10px 0px 10px 
}
h2 {
  text-align: center;
  color: black;
  margin:20px 0 0 0;
  font-size: 20px;
}
img {
  position: relative;
  top: 300px;
  right: 700px;
  margin: 40px 0 0 0
}

p{
  font-family: Merriweather, serif;
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}


* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
}

