header {
  text-align: center;
  color: white;
  background-position: center;
  background-size: cover;
  height: 300px
}
.travel{
  background-image:url("http://i.imgur.com/uN9vFLe.jpg");
}
.food{
  background-image:url("http://i.imgur.com/GGXbBCv.jpg");
}
.artandculture{
  background-image:url("http://i.imgur.com/OPrUyGI.jpg");
}
.fashion{
  background-image: url("http://i.imgur.com/wrnCzzF.jpg");
}
.manifesto{
  background:black;
}
.contactus{
  background:black;
}

